* {background-color: rgba(165, 224, 231, 0.8)}

.pic{
    display: block;
  margin-left: auto;
  margin-right: auto;
  height: 25%;
  width: 25%;
}
h1 {
    text-align: center;
    background-color: pink;
    font:bold;
    color: green
}
h2 {color:green;
    background-color: pink;
    text-align: center;
    font:bold;
 }
h3{
    color:rgb(67, 105, 9);
    background-color: pink;
    background-size: 20px;
    text-align: center;
    font:bold;

}
div{
    text-align: center;    
    background-color: white;
    color: black;   
    
}